version: '3.8'

services:
  backend:
    build: .
    container_name: user-container

    ports:
      - "7000:7000"
    env_file:
      - .env
    depends_on:
      - mongodb
    
    restart: unless-stopped


  mongodb:
     image: mongo:latest
     container_name: mongodb-container
     ports:
       - "27017:27017"
     
     volumes:
        - mongo-data:/data/db

     restart: unless-stopped

volumes:
  mongo-data: